<form method="post" action="/save" class="profile" style="font-size: 20px;  padding-left: 15px; color: gray; margin-top: 30px">

  <div>
    username:<input type="text" name="username" class="form-control" style="width:200px" value="{{user.username}}"/>
    <div>
      password:<input type="text" name="password" class="form-control" style="width:200px" value="{{user.password}}"/>
    </div>
    <div>
      email:<input type="text" name="email" class="form-control" style="width:200px" value="{{user.email}}"/>
    </div><br>
    <div>
      id:{{user._id}}
    </div><br>
    <div>
      Name:<input type="text" name="name" class="form-control" style="width:200px" value="{{user.name}}"/>
    </div><br>
    <div>
      Last Name:<input type="text" name="lastname" class="form-control" style="width:200px" value="{{user.lastname}}"/>
    </div><br>
    <div>
      date of birth:<input name="date" class="form-control" style="width:200px" value="{{user.date}}" >
    </div><br>
    <div>
      City:<input name="city" class="form-control" style="width:200px" value="{{user.city}}" >
    </div>
  </div>
  <div>
    <input type="submit" value="save" class="btn save"/>
  </div>

</form>
