<div>

 <div class="col-md-4" style="font-size: 20px;">
   <img src="/uploads/{{user.avatar}}"/>

   <form method="post" action='/api/photo' enctype="multipart/form-data" id="uploadForm">
   <div class="fileinput fileinput-new" data-provides="fileinput" >
     <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
     <div ng-show="profile.data[0]._id == user._id">
       <span class="btn btn-default btn-file"><span class="fileinput-new">select photo</span>
         <span class="fileinput-exists">change</span><input type="file" name="userPhoto" multiple></span>
       <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">remove</a>
         <input type="submit" value="save" name="submit" class="btn btn-default fileinput-exists"/>
     </div>
   </div>
   </form>


    <div class="buttons" ng-show="profile.data[0]._id !== user._id">
       <input type="button" class="btn btn-default" value="Add to friends" ng-style="myStyle" ng-click="addBid($event); myStyle={backgroundColor:'gray'}">
       <input type="button" class="btn btn-default" value="Message" ng-click="getDialog($event)">
    </div>

    <div class="data">

      <div>
       username:{{profile.data[0].username}}
      <div>
       email:{{profile.data[0].email}}
      </div><br>
      <div>
       Name:{{profile.data[0].name}}
      </div>
      <div>
       Last Name:{{profile.data[0].lastname}}
      </div>
      <div>
       date of birth:{{profile.data[0].date}}
      </div><br>
      <div>
       City:{{profile.data[0].city}}
      </div>
      </div>


      <!--ng-hide="req.user._id == fr2" ng-show="req.user._id !== fr2"-->

    </div>

    <div class="friendlist"  ng-show="profile.data[0]._id == user._id">
      <span>Friends</span>
      <ul style="list-style: none">
      <li ng-repeat="friend in friends">
        <div style="padding: 10px">
          <a class="btn btn-default " style="height: 80px; width: 280px" href='/#/profile/{{user._id}}'>
            <span >{{friend.fr1}}</span><br>
            <span >{{friend.fr2}}</span>
          </a>
        </div>
      </li>
      </ul>
    </div>

 </div>

  <div ng-show="abc" class="col-md-8">
    <div>
      <ul id="history">

        <li ng-repeat="message in messages" style="padding-bottom: 5px">
          <label>{{message.sender[0].name}}:</label><br>
          <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{message.name}}</label>
        </li>

      </ul>
    </div>
    <form>
      <input id="new-message" placeholder="write your message"  ng-model="newMessage" autofocus class="form-control" ng-keydown="addMessage($event)" style="width: 500px; margin-top: 20px">
    </form>
  </div>

 <div class="col-md-8" ng-hide="profile.data[0]._id !== user._id"  >
   <div class="tabbable">

     <ul class="nav nav-tabs" id="myTabs">
       <li class="active"><a href="#news" data-toggle="tab">News</a></li>
       <li><a href="#mess" data-toggle="tab">Messages</a></li>
     </ul>

     <div class="tab-content" style="border-left: 1px solid #dcdcdc">

       <div id="news" class="tab-pane active " >
         <ul id="new">
           <li ng-repeat="bid in bids" style="padding-top: 15px" >

             <div>

                {{bid.sender_id[0].name}}
               &nbsp; хочет добавить вас в друзья&nbsp;
                <a class="btn btn-info" ng-click="addFriend(bid)">Принять</a>
                <a class="btn btn-danger"  ng-click="removeBid(bid)">Отклонить</a>
                <a class="btn btn-success" ng-show="asd">заявка принята</a>
             </div>

           </li>
         </ul>

       </div>

       <div id="mess" class="tab-pane">
         <ul style="list-style: none; padding-top: 16px">

           <li ng-repeat="message in messages" style="padding-bottom:10px ">
             <label>From&nbsp;&nbsp;{{message.sender[0].name}}:</label>&nbsp;&nbsp;&nbsp;&nbsp;
             <label>{{message.name}}</label>&nbsp;&nbsp;
             <label style="float: right">{{message.date}}</label>
           </li>

         </ul>
       </div>
     </div>

   </div>

   <script type="text/javascript">
     $('#myTabs a').click(function (e) {
       e.preventDefault()
       $(this).tab('show')
     });
   </script>



 </div>


</div>

