
<div id="userlist">
  <div style="text-align: center;font-size: 30px;color: #dcdcdc; ">List users</div><br>

  <div>
    <ul class="list">
      <li ng-repeat="user in users">
        <div style="padding: 10px">
          <a class="btn btn-default " style="height: 160px; width: 120px" href='/#/profile/{{user._id}}'>{{user.username}}</a>
        </div>
      </li>
    </ul>
  </div>
</div>
