
body{

}

.col-md-2.col-md-offset-5{
  margin-top: 170px;
  border: 3px solid darkslategray;
  padding-bottom: 20px;

}

.save{
  color: #ffffff;
  background: darkblue;
  margin-top: 20px;
}

.log{
  text-align: center;
  padding-top: 20px;
}
.reg{
  text-align: center;
  margin-top: 30px;
 }

.list{
  list-style: none;
}

.data {
  border-left: 2px solid grey;
  padding-left: 15px;
  margin-top: 10px;
}

.friendlist{
  margin-top: 30px;
  border-top: 2px solid #dcdcdc ;
  width: 350px;
}

.tab-content{

}

#new{
  list-style: none;

  margin-left: 20px;
  padding-top: 10px;
}

#history{
  list-style: none;
}

.thumbnail {
  max-width: 200px;
  max-height: 150px;
  line-height: 20px;
  margin-bottom: 5px;
}
