doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        title
        script(src='/js/jquery-1.11.1.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/jasny-bootstrap.min.js')
        script(src='/js/jasny-bootstrap.js')
        script(src='/components/angular/angular.min.js')
        script(src='/components/angular-route/angular-route.min.js')
        script(src='/components/angular-resource/angular-resource.min.js')
        script(src='/components/ng-flow/dist/ng-flow-standalone.js')

        script(src='/js/todos/app.js')
        script(src='/js/todos/controllers.js')
        script(src='/js/todos/directives.js')
        script(src="js/imageupload.js" type="text/javascript")

        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        link(href='/css/jasny-bootstrap.min.css', rel='stylesheet')
        //link(href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css'
        //rel='stylesheet')
    body
        div(ng-app='SocialApp')
            if user
              nav.navbar.navbar-inverse
                .container-fluid
                  .navbar-header
                    a.navbar-brand(href='') Social NetWork
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    form.navbar-form.navbar-left(role='search' action='/search' method='POST')
                      .form-group
                        input.form-control(type='text', ng-model='x', placeholder='Search', id='sear')
                    ul.nav.navbar-nav.navbar-right
                      li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false')
                          | #{user.name}_#{user.lastname}
                          span.caret
                        ul.dropdown-menu(role='menu')
                          li
                            a(href='/#/editprofile', class='btn') Edit Profile
                          li.divider
                          li
                            a(href='/logout', class='btn') Log Out


             if !user
               div(class="col-md-2 col-md-offset-5")
                div(class="log")
                  form(class='form-signin', action='/login', method='POST')

                   input.form-control(type='text', name='username', placeholder='username', style="" required)

                   input.form-control(type='password', name='password', placeholder='password', style="" required)

                   input.btn.btn-default(type='submit', value='log in' style="")
                div(class="reg")
                  form(method="POST" action="/register")
                   input.form-control(type='text', name='username', placeholder='username', style="" required)

                   input.form-control(type='password', name='password', placeholder='password', style="" required)

                   input.btn.btn-default(type='submit', value='register')
            div(ng-view='ng-view')







